{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Компьтерные науки для детей | algoriff</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="favicon" href="{% static 'logo/gamepad-solid.svg' %}">
    <link rel="icon" href="{% static 'logo/gamepad-solid.svg' %}">
    
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">
    {% block head %}{% endblock %}
</head>
<body>
    <!-- Header -->
    <header>
        <div class="container header-container">
            <a href="/" class="logo">
                <i class="fa-solid fa-gamepad fa-xl head-icon" style="color: #949494;"></i>
                <span>algoriff</span>
            </a>
            <nav>
                <ul>
                    <!-- <li><a href="/" class="fa-solid fa-house fa-xl head-icon"></a></li> -->
                    <li><a href="courses/" class="fa-solid fa-list fa-xl head-icon"></a></li>
                    <li><a href="account/login" class="fa-solid fa-right-to-bracket fa-xl head-icon"></a></li>
                </ul>
            </nav>
        </div>
    </header>

    {% block content %}
    <section class="hero">
        <div class="hero-image"></div>
        <div class="container">
            <div class="hero-content">
                <h1>Компьютерные науки для школьников</h1>
                <p>Раскройте потенциал вашего ребенка под руководством опытных преподавателей.
                    Индивидуально разработанные учебные курсы, которые помогут школьникам
                    добиться успеха в востребованной профессии.</p>
                <div class="hero-btns">
                    <a href="#start" class="btn">Начать</a>
                    <a href="#courses" class="btn btn-outline">Посмотреть курсы</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Pros Section -->
    <section class="pros" id="start">
        <div class="container">
            <div class="section-title">
                <h2>Зачем выбирать algoriff?</h2>
                <p>Почувствуйте разницу в подходе к обучению</p>
            </div>
            <div class="pros-container">
                {% for pro in pros %}
                <div class="pro-card">
                    <i class="{{ pro.style }}"></i>
                    <h3>{{ pro.title }}</h3>
                    <p>{{ pro.short }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <!-- Courses Carousel -->
    <section class="courses" id="courses">
        <div class="container">
            <div class="section-title">
                <h2>Популярные курсы</h2>
                <p>Самые востребованные направления нашей платформы</p>
            </div>
            <div class="carousel">
                <div class="carousel-container" id="carousel">
                    {% for course in popular_courses %}
                        <a href="courses/{{ course.title }}" style="text-decoration: none;color:unset;" class="course-card">
                            <div class="course-img" style="background: url('{{ course.image.url }}') center/cover;"></div>
                            <div class="course-content">
                                <span class="course-tag">{{ course.tag }}</span>
                                <span class="course-tag">{{ course.age }}</span>
                                <h3>{{ course.title }}</h3>
                                <p>{{ course.short }}</p>
                                <div class="course-meta">
                                    <span><i class="fas fa-clock"></i> {{ course.lessons_count }}</span>
                                    <span><i class="fas fa-user"></i> {{ course.tutor }}</span>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    {% endblock %}

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="footer-container">
                <div class="footer-col">
                    <h3>algoriff</h3>
                    <p>Предоставление образовательных услуг для детей школьного возраста.</p>
                    <h4>Свяжитесь с нами</h4>
                    <div class="social-links">
                        <a href="https://t.me/illmilo"><i class="fab fa-telegram"></i></a>
                        <a href="mailto:illfqm@gmail"><i class="fas fa-envelope"></i></a>
                    </div>
                </div>
                <div class="footer-col">
                    <h3>Быстрые ссылки</h3>
                    <ul class="footer-links">
                        <li><a href="#"><i class="fas fa-chevron-right"></i> Главная</a></li>
                        <li><a href="#start"><i class="fas fa-chevron-right"></i> О нас</a></li>
                        <li><a href="#courses"><i class="fas fa-chevron-right"></i> Курсы</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h3>Документы</h3>
                    <ul class="footer-links">
                        <li><a href="#"><i class="fas fa-chevron-right"></i> Пользовательское соглашение</a></li>
                        <li><a href="#"><i class="fas fa-chevron-right"></i> Политика конфидециальности</a></li>
                        <li><a href="#"><i class="fas fa-chevron-right"></i> Условия сервиса</a></li>
                        <li><a href="#"><i class="fas fa-chevron-right"></i> Политика возврата</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <p>&copy; 2025 ООО НПП &laquo; Algoriff &raquo;. Все права защищены.</p>
            </div>
        </div>
    </footer>

   <script src="{% static 'home/js/header.js' %}"></script>
</body>
</html>